@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html {
    background-color: #eeeeee;
}

body { 
    font-family: 'Arvo', serif;
    color: #252525;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.dark {
    background-color: #252525;
    background-size: cover;
    color: #eeeeee;
}

.dark h1 {
    font-size: 3.5em;
}

.quote p {
    font-size: 2em;
}

a {
    color: #E83C67;
}

.remark-code, .remark-inline-code { 
    font-family: 'Inconsolata', monospace; 
    font-size: 1em;
}

.remark-slide-number {
    color: rgba(37, 37, 37, 0.3)
}

.subject {
    position: absolute;
    bottom: 12px;
    left: 20px;
    color: rgba(37, 37, 37, 0.3)
}

ul, ol {
    line-height: 2;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.img-full {
    background-color: #252525;
}

.img-full h1 {
    text-shadow: 2px 2px #252525;
}